extends layout-no-menu

block content
	if username
		section#game-container(class=`username-${username}`)
		style.
			#game-container {
				width: #{gameSettings.customWidth === '1853px' ? 'inherit' : gameSettings.customWidth}
			}
			#game-container > .ui.grid {
				font-family: '#{gameSettings.fontFamily}', lato, sans-serif !important
			}
		script.
			var gameSettings = #{gameSettings}
			var verified = #{verified}
			var staffRole = '#{staffRole}'
			var hasNotDismissedSignupModal = #{hasNotDismissedSignupModal}
			gameSettings.blacklist = !{JSON.stringify(blacklist).replace(/<\//g, '<\\/')}
			
	else
		section#game-container