doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")

		meta(name="theme-color", content="#aaa")
		meta(name="description", content="Play now!")

		link(rel="stylesheet", type="text/css", href="/styles/Semantic-UI-CSS-master/semantic.min.css")

		if game
			if prodCacheBustToken
				link(rel="stylesheet", type="text/css", href=`/styles/style-main.css?${prodCacheBustToken}`)
			else
				link(rel="stylesheet", type="text/css", href="/styles/style-dark.css")
		else
			meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
			if prodCacheBustToken
				link(rel="stylesheet", type="text/css", href=`/styles/style-web.css?${prodCacheBustToken}`)
			else
				link(rel="stylesheet", type="text/css", href="/styles/style-web.css")
		link(href="//fonts.googleapis.com/css?family=Comfortaa|Cuprum:400i|Germania+One|Roboto+Slab", rel="stylesheet", type="text/css")
		link(rel="author", href="humans.txt")
		link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
		link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
		link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#aaa")
		link(rel="manifest", href="/manifest.json")
		meta(itemprop="name" content="Secret Hitler.io")
		meta(itemprop="description" content="A web adaptation of the social deduction board game Secret Hitler.  Always free and no ads.")
		meta(itemprop="image" content="https://secrethitler.io/images/lizard.png")
		meta(property="og:url" content="https://secrethitler.io")
		meta(property="og:type" content="website")
		meta(property="og:title" content="Secret Hitler.io")
		meta(property="og:description" content="A web adaptation of the social deduction board game Secret Hitler.  Always free and no ads.")
		meta(property="og:image" content="https://secrethitler.io/images/lizard.png")
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:title" content="Secret Hitler.io")
		meta(name="twitter:description" content="A web adaptation of the social deduction board game Secret Hitler.  Always free and no ads.")
		meta(name="twitter:image" content="https://secrethitler.io/images/lizard.png")
		title Secret Hitler.io
	body
		#main
			block content

		section.signin-modal.ui.modal.small.segment.column
			h2.header Sign in to your account
			p.tou By playing here, you agree to follow the #[a(href="/tou", target="_blank") Terms of Use].
			form.ui.form(style="text-align: center;")
				.field
					.ui.left.icon.input
						i.user.icon
						input#signin-username(placeholder="Username", spellcheck="false")
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signin-password(placeholder="Password", type="password")
				button.ui.primary.button.fluid.large.signin-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Signing in..
				.ui.negative.hidden.message
				a#reset-password(style="cursor: pointer;") Forget your password?

		section.password-reset-modal.ui.modal.small.segment.column
			h2.header Request a password reset
			form.ui.form
				.field
					.ui.left.icon.input
						i.user.icon
						input#password-reset-email(placeholder="Verified email address", spellcheck="false")
				button.ui.primary.button.fluid.large#password-reset-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Checking your account..
				.ui.negative.hidden.message
				.ui.info.hidden.message

		section.signup-modal.ui.modal.small.segment.column
			h2.header Sign up for an account
			p.tou By playing here, you agree to follow the #[a(href="/tou", target="_blank") Terms of Use].
			p.tou Players with less than 2 games played can not chat in general chat, chat as an observer, or make player reports.
			//- a(href="/discord-login") discord
			form.ui.form
				.field
					.ui.left.icon.input
						i.user.icon
						input#signup-username(placeholder="Username", spellcheck="false")
					.ui.info.message.hidden
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signup-password1(placeholder="Password", type="password", maxlength="255")
					.ui.info.message.hidden
				.field
					.ui.left.icon.input
						i.lock.icon
						input#signup-password2(placeholder="Repeat password", type="password", maxlength="255")
					.ui.info.message.hidden
				.field
					.ui.left.icon.input
						i.key.icon
						input#signup-bypass(placeholder="Restriction bypass key", spellcheck="false")
					.ui.info.message.hidden
				.field
					h4.header(style="color: darkred") EMAIL OPTIONAL
					.ui.left.icon.input
						i.envelope.outline.icon
						input#signup-email(placeholder="Email", maxlength="255", spellcheck="false")
				.field
					label
						input#private-player(type="checkbox", style="margin-right: 5px")
						span(style="color: #aaa") READ CAREFULLY BEFORE CHECKING: Private game player only option - your name will not be visible in the sidebar, you can't chat in general chat, 
							b(style="color: #666") you can't play in public games.
				.field
					label
						input#tou-agree(type="checkbox", style="margin-right: 5px")
						span(style="color: #a77") I have read and agree to the #[a(href="/tou", target="_blank") Terms of Use].
				button.ui.primary.button.fluid.large.signup-submit Submit
				.ui.dimmer.inverted
					.ui.text.loader Signing up..
				.ui.negative.hidden.message
		
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-105770066-1', 'auto');
			ga('send', 'pageview');
		if game
			if prodCacheBustToken
				script(src=`/scripts/bundle.js?${prodCacheBustToken}`)
			else
				script(src=`/scripts/bundle.js`)
		else
			script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
			script(src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js")
			script(src="/scripts/site.js?abcd")
		block footer
